<p>Before you start defining your new OKR, you have to plan two things</p>
<ol>
  <li>Introduction of OKR + first iteration</li>
  <li>Default iteration</li>
</ol>
For each meeting/workshop you have to decide about
<ul>
  <li>What is the goal</li>
  <li>Who should attend</li>
  <li>Date</li>
  <li>Who is moderating</li>
</ul>
Each meeting/workshop needs a defined goal. This way everybody gets a clear
understanding about the meaning of the meeting. Additionaly, I helps with
setting the right expectations. While having the goal in mind, the list of
necessary attendees will be drafted. Building up on this, the search for a date
for all those attendees starts. Don't underestimate this step. It can easily
throw off your whole schedule. Speaking of a schedule: You have to make a
schedule including all your OKR-meetings and OKR-workshops. Without it, most
likely you will face several delays.
<h2>Meetings and workshops to consider:</h2>
<ul>
  <li *ngFor="let workshop of workshops">
    <span fxLayout="row" fxLayoutAlign="space-between">
      <span>{{ workshop.name }}</span>
      <span class="workshop-quickinfos">
        <app-participant-range
          [min]="workshop.participantsMin"
          [max]="workshop.participantsMax"
        ></app-participant-range>
        <app-time-length [minutes]="workshop.length"></app-time-length>
      </span>
    </span>
  </li>
</ul>
