Every company is different. Every OKR-implementation is different as well.
Therefore you have to analyze two things.
<ol>
  <li>What is the current status of the company?</li>
  <li>What do they want to achieve with OKR?</li>
</ol>
<h2>Current status</h2>
Goal: Get a deep understanding about the company
<ul>
  <li>Who is signing the contract?</li>
  <li>On which levels is the company setting goals already?</li>
  <li>What kind of goals are set?</li>
  <li>What is the frequency? Annual?</li>
  <li>Are those goals met?</li>
  <li>What are the consequences on meeting/not meeting goals?</li>
  <li>Is there a vision/mission/strategy of any kind? Who knows about it?</li>
  <li>How is this influencing day-to-day decisions?</li>
  <li>Name, legal form, size, locations</li>
  <li>How is the company organized? Is there an organigram?</li>
  <li>Which kind of leadership styles can be found in the company? Where?</li>
  <li>Does it differ between hierarchy/between department?</li>
  <li>What are there experiences with consultants? ...with changes?</li>
  <li>When was the last time they tried something similar? How did it go?</li>
  <li>Who wants OKR?</li>
  <li>Who is the initiator?</li>
  <li>Who are the supporters?</li>
  <li>Who knows already about OKR?</li>
</ul>

<h2>Goals for OKR</h2>
Goal: What exactly should change with OKR? When?
<ul>
  <li>Realizing strategy</li>
  <li>Achieving high percentage of OKR? (bad goal)</li>
  <li>Motivating employees</li>
  <li>Increasing performance</li>
  <li>Creating a healthy work environment</li>
  <li>Improving communication</li>
</ul>
Not matter what the company wants to achieve with OKR, it has to be measured.
Some of those seem hard or impossible to measure. For ideas about how to measure
look here <a routerLink="/ressources/measure">Measure everything</a>
