<h1>Introduction</h1>
<p>
  Before you start reaching the sky with Objectices and Key Results, you should
  prepare yourself. Keep in mind that we are all humans. We are all reluctant to
  change. That's why its important to start off as smoothly as possible.
</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Analyze
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-analyze></app-analyze>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Plan
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-plan></app-plan>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Onboarding
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-onboarding></app-onboarding>
  </mat-expansion-panel>
</mat-accordion>
