<h1>Workshops</h1>
<p>
  There are different kind of workshops and meetings for OKR to be succesful.
  Here you get all the help you need to turn your workshops into a great
  experience.
</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        OKR-Workshop
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-okr-workshop></app-okr-workshop>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Retrospective
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-retrospective></app-retrospective>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Monday checkin
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-monday-checkin></app-monday-checkin>
  </mat-expansion-panel>
</mat-accordion>
