<h1>Workshops</h1>
<p>
  There are different kind of workshops and meetings for OKR to be succesful.
  Here you get all the help you need to turn your workshops into a great
  experience.
</p>
<mat-accordion>
  <mat-expansion-panel *ngFor="let workshop of workshops">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ workshop.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-okr-workshop [workshop]="workshop"></app-okr-workshop>
  </mat-expansion-panel>
</mat-accordion>
