With Onboardings you are giving your particpants two important aspects:
<ol>
  <li>Information</li>
  <li>Motivation</li>
</ol>
Your participants need to get a basic understanding about OKR. It doesn't need
to be in detail, it doesn't have to fit their specifix use case. You can keep it
on a high level or work with lots of practical examples. Try to answer these
questions:
<ul>
  <li>What is OKR?</li>
  <li>Why is OKR working?</li>
  <li>How is it working?</li>
</ul>
It is ok to keep the it on a high level. Don't dive too deep into details -
there will be enough time for this later. Details lead to discussions,
discussions lead to more questions. That is the way to an exhausting workshop.
Avoid this. Try to keep your workshop
<ul>
  <li>Entertaining</li>
  <li>Active</li>
  <li>Practical</li>
  <li>Enthusiastic</li>
</ul>
Show them that you love OKR, that you believe in OKR. Convince them about the
magic effects of OKR. Use examples of other succesful companies using OKR. If
those companies are similar to your client, all the better.
